/* -------------------------------------------------------------------------*/
/* ----- Customizations for Beinecke legacy collections and databases ----- */
/* ------------------------------------------------------------------------ */

.ds-bottom grid-8 {margin-top: 2em;}
#advanced.field-item.even {margin-top: 4em;}

/* select button, form input */
.palm-search {background-color: #eee;}
input.palmSearch {width: 60%;}

/* form inputs and labels */
.search-col1, .search-col2 {display: inline-table;}
.search-col1 {margin-right: 4em;}
.fieldGrp, .advanced, .quicksearch {margin-bottom: 1em;}
.quicksearchBtn, .resultsTable {margin-top: 1em;}
p.fields {margin-bottom: 0px;}

/* results table */
.results-table-outer.wrapper {border: 2px solid #666666;}
.results-table-outer {border-right:1px solid #777; border-left:1px solid #777; margin-top: 1em;}
.results-table{margin:0px auto 0px auto; border-top: none; }
.results-table, td, th{border-collapse:collapse; border:1px solid #777;}
th{padding:10px 7px; font-size:15px; color:#444; background:#e8e8e8; border-top: none;}
td{padding:5px 10px; height:35px;}
.results-table-outer {overflow-x: scroll;}
th, td { min-width:150px; }
#noResults {margin-top: 1.5em; font-size: 1em;}
.scroll {display: inline-block; float: right; text-align: top;}
.scrollTxt {font-size: 13px; font-weight: 500;}

/* pagination */
.pagination>li>a {color: #555;}
.pagination>.active>a {
    background-color: #e24911;
    border-color: #e24911;
}

/* single item view */
.column1, .column2 {display: inline-block;}
.column1 {font-weight: bold;}
.details a {margin-left: 2em;}
.details a, .details h2 {display: inline-block;}
.number {text-align: center;}
table.detailsTable {border: none;}
td.detailsTxt {min-width: 50px; font-weight:500;}


