<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<!-- <h1>Palmquist</h1> -->

<nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Palmquist</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        -->
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Advanced Search</h2>
            <p> Enter terms in any of the fields below. </p>

            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->

            <form action="#" th:action="@{/singleitem}" th:object="${person}" method="get">
                <!-- <p>Id: <input type="text" th:field="*{id}" /></p> -->
                <p>Title <input type="text" th:field="*{title}" /></p>
                <p>Full Name <input type="text" th:field="*{fullName}" /></p>
                <p>Also Known As <input type="text" th:field="*{alias}" /></p>
                <p>Nations <input type="text" th:field="*{nations}" /></p>
                <p>States <input type="text" th:field="*{states}" /></p>
                <p>Cities <input type="text" th:field="*{cities}" /></p>

                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>

    </div>

    <hr/>

    <footer>
        <p>&copy; Yale University Library</p>
    </footer>
</div> <!-- /container -->




</body>
</html>